

%br

.card
  .card-header
    %h3= @user.username

  .card-block
    .col-md-6.offset-md-3
      %table.table
        %thead.thead-default
          %th.text-center Week
          %th.text-center Previous
          %th.text-center Current
        %tbody
          - @user.tasks.group_by(&:week).reverse_each do |week, tasks|
            %tr.text-center
              %td= "#{Task.week_dates(week)}"
              %td= "#{tasks.reject{|task| task.current}.sum{|task| task.estimate}}"
              %td= "#{tasks.reject{|task| !task.current}.sum{|task| task.estimate}}"
