- if current_user.present?
  %nav.uk-navbar-container.uk-margin.header{'uk-navbar' => ''}
    .uk-navbar-left
      = link_to dashboards_path, :class => 'uk-navbar-item uk-logo' do
        %span.uk-margin-small-right{'uk-icon' => 'icon: plus-circle'}
        Mike Enriquez Checkin
    .uk-navbar-right
      %ul.uk-navbar-nav
        %li
          %a{:href => '#'}
            = current_user.username
            %span.uk-margin-small-left{'uk-icon' => 'icon: triangle-down'}
          .uk-navbar-dropdown
            %ul.uk-nav.uk-navbar-dropdown-nav
              %li.uk-active
                = link_to 'Profile', edit_user_path(current_user)
              %li.uk-nav-divider
              %li.uk-active
                = link_to 'Sign Out', session_path(current_user), :method => :delete
  %nav.uk-navbar-container.uk-margin-medium-bottom.header{'uk-navbar' => '', 'uk-sticky' => 'bottom: #offset'}
    .uk-navbar-left
      %ul.uk-navbar-nav
        - unless current_user.admin == true
          %li= link_to 'Dashboard', dashboards_path
          %li= link_to 'Works', works_path, :data => {:turbolinks => false}
        %li= link_to 'Daily Summary', summary_index_path
        %li= link_to 'Index', checkins_path
        %li= link_to 'Users', users_path
