- if current_user.present?
  %nav.uk-navbar-container.uk-margin.header{'uk-navbar' => ''}
    .uk-navbar-left
      = link_to dashboard_path, :class => 'uk-navbar-item uk-logo' do
        %span.uk-margin-small-right{'uk-icon' => 'icon: plus-circle'}
        Mike Enriquez Checkin
    .uk-navbar-right
      %ul.uk-navbar-nav
        %li
          %a{:href => '#'}
            = current_user.username
            %span.uk-margin-small-left{'uk-icon' => 'icon: triangle-down'}
          .uk-navbar-dropdown
            %ul.uk-nav.uk-navbar-dropdown-nav
              %li.uk-active
                = link_to 'Profile', '#'
              %li.uk-nav-divider
              %li.uk-active
                = link_to 'Sign Out', session_path(current_user), :method => :delete

  %nav.uk-navbar-container.header{'uk-navbar' => ''}
    .uk-navbar-left
      %ul.uk-navbar-nav
        - unless current_user.admin == true
          %li= link_to 'Dashboard', dashboard_path
        %li=link_to 'Works', works_path, :data => {:turbolinks => false}
        %li= link_to 'Daily Summary', summary_path
        %li= link_to 'Index', checkins_path
        %li
          %a{:href => '#'}
            Devs Weekly Load
            %span.uk-margin-small-left{'uk-icon' => 'icon: triangle-down'}
          .uk-navbar-dropdown
            %ul.uk-nav.uk-navbar-dropdown-nav
              - User.all.each do |user|
                %li.uk-active= link_to user.username, user
