.uk-container
  .uk-card.uk-card-default.uk-card-body.uk-padding-small.uk-box-shadow-xlarge.uk-margin-medium-bottom{:class => 'uk-width-1-1@m'}
    %h3.uk-card-title.uk-display-inline Summary
    %hr.uk-divider-icon
    .col-md-12.row
      .card-deck.col-md-8
        .card
          .card-header.text-center Average
          .card-block.row
            .col.text-center.container-centered-elements
              %h4= @today.average_load
            .col
              - value = @today.average_load - @yesterday.average_load
              .col
                .col-md-12.text-center
                  = icon_tag value
                .col-md-12
                  = number_with_precision value, :precision => 2

        .card
          .card-header.text-center Low
          .card-block.row
            .col.text-center.container-centered-elements
              %h4= @today.lowest_load
            .col
              - value = @today.lowest_load - @yesterday.lowest_load
              .col
                .col-md-12.text-center
                  = icon_tag value
                .col-md-12
                  = number_with_precision value, :precision => 2


        .card
          .card-header.text-center High
          .card-block.row
            .col.text-center.container-centered-elements
              %h4= @today.highest_load
            .col
              - value = @today.highest_load - @yesterday.highest_load
              .col
                .col-md-12.text-center
                  = icon_tag value
                .col-md-12
                  = number_with_precision value, :precision => 2

      .col-md-4
        .card
          .card-header.text-center Status
          .card-block.row
            .col
              %p= "#{@today.submitted_checkins} SUBMITTED"
              %p= "#{@today.pending_checkins} LEFT"
            .col
              = link_to 'VIEW', summary_checkin_summary_index_path

      .col-md-12
        = column_chart @chart_data, :ytitle => 'Load'
