= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.5/css/uikit.min.css'
%h3 Weekly Summary (#{@start_of_the_week_formatted} - #{@end_of_the_week_formatted})
%hr
- (@start_of_the_week..@end_of_the_week).each do |date|
  %h4= date.strftime '%B %d, %Y - %A'
  - tasks = @tasks_completed.select { |key| key if key[:date] == date.to_s }
  - if tasks.present?
    %table.uk-table.uk-table-divider.uk-text-small
      %tbody
        %tr
          %th Project
          %th Notes
          %th Hours
          %th User
        - tasks.each do |task|
          %tr
            %td= task[:project]
            %td= task[:notes]
            %td= task[:hours]
            %td= task[:username]
  - else
    %span.uk-text-small No records found.
