.container-fluid
  .col-md-12
    = form_for @checkin, :class => 'form-inline', :method => :post do |f|
      .card-deck
        .card
          .card-block
            .card-title What I did yesterday
            - @projects.each do |project|
              - unless project.iterations(:scope => 'current_backlog').length == 0
                %h3= project.name
                - project.iterations(:scope => 'current_backlog').each do |iteration|
                  -# = f.collection_check_boxes :yesterday, iteration.stories, :id, :name do |b|
                  -#   .form-group
                  -#     = b.label do
                  -#       = b.check_box
                  -#       = b.text
                  - iteration.stories.each do |story|
                    %label.checkbox
                      = f.check_box :yesterday, {:multiple => true}, {:id => story.id, :url => story.url}
                      = story.name
                %hr

        -# .card
        -#   .card-block
        -#     .card-title What I will do today
        -#     - @projects.each do |project|
        -#       - unless project.iterations(:scope => 'current_backlog').length == 0
        -#         %h3= project.name
        -#         - project.iterations(:scope => 'current_backlog').each do |iteration|
        -#           = f.collection_check_boxes :today, iteration.stories, :id, :name do |b|
        -#             .form-group
        -#               = b.label do
        -#                 = b.check_box
        -#                 = b.text
        -#         %hr

      = f.submit
