.uk-container
  .uk-card.uk-card-default.uk-card-body.uk-padding-small.uk-box-shadow-xlarge.uk-margin-medium-bottom{:class => 'uk-width-1-1@m'}
    %h3.uk-card-title.uk-display-inline
      Checkin
    %hr.uk-divider-icon
    = form_for @checkin, :class => 'form-inline', :method => :post do |f|
      .row
        - Checkin::CHECKIN_DAYS.each do |day|
          .col-md-6
            .card.no-border
              %div{:class => "#{day}"}
                .card-block
                  .card-title
                    %h4.uk-margin-remove
                      = day.humanize
                      tasks
                    %span.ml-auto.align-bottom{:id => "#{day}"} 0 selected
                  .project-selection
                    = select_tag :project, options_for_select(@project_hash.keys.sort.reject{|project_name| @project_hash[project_name].count == 0}.map{|project| [project, "##{day}-#{project_name_to_id project}"]}), :prompt => 'Select Project', :class => 'project-select custom-select uk-select'
                  .project-list.uk-margin-top
                    - @project_hash.keys.each do |project_name|
                      - unless @project_hash[project_name].count == 0
                        - project_to_id = project_name_to_id project_name
                        .project{:id => "#{day}-#{project_to_id}"}
                          %h4.uk-display-inline= project_name
                          %span.uk-float-right{:id => "#{day}-#{project_to_id}-count"} 0 selected
                          %table.js-project-tablesorter.table.uk-table-hover.table-vertical
                            %thead
                              %th
                              %th.text-center Estimate
                              %th.text-center State
                              %th Title
                            %tbody
                              - @project_hash[project_name].each do |story|
                                %tr
                                  %td= f.check_box day, {:multiple => true, :class => "#{day}-#{project_to_id}-check-box"}, story
                                  %td.text-center= story[:estimate]
                                  %td.text-center= story[:current_state].humanize
                                  %td= story[:title]
      %hr.uk-divider-icon
      .row
        .col
          %h4.uk-margin-remove= f.label :blockers
          = f.text_area :blockers, {placeholder: 'Optional', :rows => 5, :cols => 60, :class => 'uk-textarea'}
        .col
          %h4.uk-margin-remove= f.label :notes
          = f.text_area :notes, {placeholder: 'Optional', :rows => 5, :cols => 60, :class => 'uk-textarea'}
      .row.uk-margin-top
        .col.uk-text-right
          = f.submit 'Publish Checkin', :class => 'uk-button uk-button-primary', :data => {:disable_with => 'Please wait...'}
