.container-fluid
  .col-md-12
    = form_for @checkin, :class => 'form-inline', :method => :post do |f|
      - Checkin::CHECKIN_DAYS.each do |day|
        .card
          %div{:class => "#{day}"}
            .card-block
              .card-title
                - section_text = day == 'today' ? 'What I will do today' : 'What I did yesterday'
                %h4= section_text
                %span.ml-auto.align-bottom{:id => "#{day}"} 0 selected
              .project-selection
                = select_tag :project, options_for_select(@project_hash.keys.sort.reject{|project_name| @project_hash[project_name].count == 0}.map{|project| [project, "##{day}-#{project_name_to_id project}"]}), :prompt => 'Select Project', :class => 'project-select custom-select'
              .project-list
                - @project_hash.keys.each do |project_name|
                  - unless @project_hash[project_name].count == 0
                    - project_to_id = project_name_to_id project_name
                    .project{:id => "#{day}-#{project_to_id}"}
                      .project-header.row.align-items-end
                        .col
                          %h3.project-section= project_name
                        .col-md-2.pull-right
                          %span.align-bottom{:id => "#{day}-#{project_to_id}-count"} 0 selected
                      %table.js-project-tablesorter
                        %thead
                          %th
                          %th.text-center Estimate
                          %th.text-center State
                          %th Title
                        %tbody
                          - @project_hash[project_name].each do |story|
                            %tr
                              %td= f.check_box day, {:multiple => true, :class => "#{day}-#{project_to_id}-check-box"}, story
                              %td.text-center= story[:estimate]
                              %td.text-center= story[:current_state].humanize
                              %td= story[:title]
      .row
        .col
          = f.label :blockers
          = f.text_area :blockers, {placeholder: 'Optional', :rows => 5, :cols => 60, :class => 'form-control'}
        .col
          = f.label :notes
          = f.text_area :notes, {placeholder: 'Optional', :rows => 5, :cols => 60, :class => 'form-control'}

      = f.submit 'Publish Checkin', :class => 'btn btn-primary', :data => {:disable_with => 'Please wait...'}
