%h3 Upload Checkin

= form_tag :checkins, :multipart => true, :method => :post do
  %table
    %tr
      %td= label_tag :name
      %td= select_tag :id, options_from_collection_for_select(User.all, 'id', 'username'), {:required => true, :include_blank => ''}
    %tr
      %td= label_tag "What I've worked on"
      %td= file_field_tag :current_tasks, {:required => true}
    %tr
      %td= label_tag "What I'm going to do"
      %td= file_field_tag :upcoming_tasks, {:required => true}
    %tr
      %td= label_tag :blockers
      %td= text_area_tag :blockers, nil, {placeholder: 'Optional', :rows => 10, :cols => 60}
    %tr
      %td
      %td= submit_tag 'Publish Checkin'


%h3 Delete
= form_tag :checkins, :method => :delete do
  = text_field_tag :timestamp, nil, {:placeholder => 'Timestamp from Slack'}
  = submit_tag 'Delete Checkin'
